@import '~figma-plugin-ds/dist/figma-plugin-ds.css';

#container {
  height: 100%;
  display: flex;
  flex-flow: column;

  align-items: stretch;
  align-content: stretch;

  justify-items: stretch;
  justify-content: stretch;
}

#menu {
  background-color: #f5f9fc;
  
  border-color: black;
  border-width: 2px;

  padding: 10px;

  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-flow: row;
}

#menu h3 {
  margin: 5px;
}

#menu button {
  margin: 5px;
}

#storybook-chooser {
  flex-basis: 40%;
}

#storybook-adder {
  flex-basis: 40%;
}

body {
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
  width:100%;
  height:100%;
}