@import '~figma-plugin-ds/dist/figma-plugin-ds.css';

#container {
  height: 100%;
  display: flex;
  flex-flow: column;

  align-items: stretch;
  align-content: stretch;

  justify-items: stretch;
  justify-content: stretch;
}

#storybook-chooser {
  background-color: hsl(204, 42%, 95%);
  
  border-color: black;
  border-width: 2px;

  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
}

#storybook-chooser > h3 {
  margin: 5px;
}

body {
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
  width:100%;
  height:100%;
}